body {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  margin: 1rem;
}

.glen {
  background-color: #012;
}

.tom {
  background-color: #105;
}

.other {
  /* increment the following counter to trigger a rebuild */
  background-color: #001;
}
